# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
build/
dist/
*.spec

# Nuitka / PyInstaller
main.build/
main.dist/
main.exe
*.onefile-build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data (опционально — см. ниже)
data/
